# ==========================
# Entorno virtual
# ==========================
venv/
.venv/
env/
ENV/

# ==========================
# Variables de entorno
# ==========================
.env

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# ==========================
# Uploads
# ==========================
uploads/